* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Galada', cursive;
}

/*================ Navbar Styling =============================*/


nav {
  width: 100%;
  height: 80px;
}


nav ul {
  float: right;
  margin-right: 200px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

nav ul li {
  display: inline;
  line-height: 80px;
  margin: 0 5px;
  padding: 0 20px;
}

nav a {
  color: black;
}

nav a:hover {
  color: yellow;
}

.mobile-nav ul {
  display: none;
}


/*================ Navbar Styling =============================*/






/*================ Header Styling =============================*/
  
label.logo {
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }

/*================ Header Styling =============================*/






/*==================== Showcase Styling =============================*/


.showcase {
  background-color: #689682;
  padding: 50px;
  color: white;
  text-align: center;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
}

.portrait-pic {
   height: 250px;
   width: 280px;
   border-radius: 90%;
   border: 5px solid white;
}


/*==================== Showcase Styling =============================*/








/*==================== About-me Styling =============================*/

.flexbox-container {
  display: flex;
  justify-content: center;
}

.about-me h3 {
  padding: 10px 0;
}


.about-me {
   margin-top: 10px;
   width: 500px;
   padding: 10px;
   text-align: justify;
   border-bottom: 3px solid gray;
}

/*==================== About-me Styling =============================*/







/*==================== Footer Styling =============================*/

.footer-container {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.footer {
  text-align: center;
}

.twitter-icon {
  margin: 10px;
  font-size: 30px;
  color: #1DA1F2;
}

.github-icon {
  margin: 10px;
  font-size: 30px;
}

.linkedin-icon {
  margin: 10px;
  font-size: 30px;
  color: #2867B2;
}



/*==================== Footer Styling =============================*/








/*==================== Projects Styling =============================*/


.projects-container {
  display: flex;
  justify-content: center;
  background-color: #689682;
  padding: 30px;
  border-bottom: 3px solid gray;
  border-top: 3px solid gray;
}

.projects h1 {
  font-size: 50px;
  color: black;
}

.projects p {
  font-size: 30px;
}

.projects {
  text-align: justify;
  margin-top: 30px;
  color: white;
}


/*==================== Projects Styling =============================*/









/*==================== ProjectList Styling =============================*/


.project1-pic {
  height: 250px;
  width: 300px;
  border: 5px solid gray;
  align-content: center;
  float: left;
}

.projectslist-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.projectsList {
  border-bottom: 2px solid gray;
  margin: 5px;
  padding: 20px;
  width: 70%;
}

.projectsList p {
  margin-left: 330px;
}

.projectsList h3 {
  margin-left: 330px;
}

.projectsList h4 {
  margin-left: 330px;
}

.projectsList button {
  margin: 5px 3px;
  width: 100px;
  border-color: black;
}

.btns {
  margin-left: 330px;
}









/*==================== ProjectList Styling =============================*/





/*==================== Media Queries =============================*/

@media only screen and (max-width: 990px) {

  ul  {
    display: none;
  }
  .logo {
    display: flex;
  }
 .mobile-nav ul {
  display: block;
  position: absolute;
  top: 0;
  padding: 10px;
  right: -150px;
  }
}
/*==================== Media Queries =============================*/












