* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Arapey', serif;
}

/*================ Navbar Styling =============================*/


nav {
  width: 100%;
  height: 80px;
}


nav ul {
  float: right;
  margin-right: 200px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

nav ul li {
  display: inline;
  line-height: 80px;
  margin: 0 5px;
  padding: 0 20px;
}

nav a {
  color: black;
}

nav a:hover {
  color: yellow;
}

.mobile-nav ul {
  display: none;
}


/*================ Navbar Styling =============================*/






/*================ Header Styling =============================*/
  
label.logo {
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }

/*================ Header Styling =============================*/






/*==================== Showcase Styling =============================*/


.showcase {
  background-color: #689682;
  padding: 50px;
  color: white;
  font-size: 20px;
  text-align: center;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
}

.portrait-pic {
   height: 250px;
   width: 280px;
   border-radius: 90%;
   border: 5px solid white;
}


/*==================== Showcase Styling =============================*/


.showcase {
  font-weight: 900;
}





/*==================== About-me Styling =============================*/

.flexbox-container {
  display: flex;
  justify-content: center;
}

.about-me h3 {
  padding: 10px 0;
  font-size: 25px;
  color: #689682;
}
.about-me p {
  margin-top: 10px;
  font-size: 18px;
}
.red {
  color: red;
}


.about-me {
   margin: 0px 40px;
   padding: 20px;
   text-align: justify;
}

.underline  {
  padding-top: 10px;
  border-bottom: 1px solid gray;
  width: 50%;
}

/*==================== About-me Styling =============================*/







/*==================== Footer Styling =============================*/

.footer-container {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  font-size: 20px;
}

.footer {
  text-align: center;
}

.twitter-icon {
  margin: 10px;
  font-size: 30px;
  color: #1DA1F2;
}

.github-icon {
  margin: 10px;
  font-size: 30px;
}

.linkedin-icon {
  margin: 10px;
  font-size: 30px;
  color: #2867B2;
}



/*==================== Footer Styling =============================*/








/*==================== Project Showcase Styling =============================*/


.projects-container {
  display: flex;
  justify-content: center;
  background-color: #689682;
  padding: 30px;
  border-bottom: 3px solid gray;
  border-top: 3px solid gray;
}

.projects h1 {
  font-size: 50px;
  color: black;
}

.projects p {
  font-size: 30px;
}

.projects {
  text-align: justify;
  margin-top: 30px;
  color: white;
}


/*==================== Project Showcase Styling =============================*/









/*==================== ProjectList Styling =============================*/


.project1-pic {
  height: 250px;
  width: 300px;
  border: 2px solid gray;
  float: left;
}

.project1 {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.project-info {
  border-bottom: 2px solid gray;
  font-size: 20px;
  margin: 5px;
  padding: 20px;
  width: 70%;
}

.project-info p {
  margin-left: 330px;
  text-align: justify;
}

.project-info h4 {
  margin-left: 330px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btns-container {
  margin-top: 25px;
  text-align: center
}
.btns-container button {
  margin: 10px;
  width: 150px;
  height: 25px;
  border-color: black;
}

.project-text {
  margin-top: 5px;
}









/*==================== ProjectList Styling =============================*/







/*==================== Contacts Styling =============================*/

.contacts-container {
  background-color: #689682;
  display: flex;
  justify-content: center;
  height: 80vh;
}

.contacts-form {
  width: 85%;
  background-color: white;
  max-width: 1300px;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px;
}

.contacts-form h1 {
  margin-top: 0;
  font-weight: 200;
}

.txtb {
  border-bottom: 1px solid gray;
  margin: 20px 0;
  padding: 12px 18px;
}

.txtb-msg {
  border: 1px solid gray;
  margin-top: 10px;
}

.txtb label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

.txtb input, .txtb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

.btn {
  display: inline-block;
  background-color: gray;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}

.personal-info {
  color: green;
  margin-top: 10px;
}

.contacts-footer {
  display: flex;
  justify-content: center;
}


/*==================== Contacts Styling =============================*/


























/*==================== Media Queries =============================*/

@media only screen and (max-width: 990px) {

  ul  {
    display: none;
  }
  .logo {
    display: flex;
  }
 .mobile-nav ul {
  display: block;
  position: absolute;
  top: 0;
  padding: 10px;
  right: -150px;
  }
}
  
  @media only screen and (max-width: 570px) {

    .logo  {
      display: none;
    }
    nav ul a {
      margin: 2px;
      font-size: 10px;
    }
}

/* nav ul {
  float: right;
  margin-right: 200px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
} */


/*==================== Media Queries =============================*/





@media only screen and (max-width: 1567px) {
  
  .main-projectList {
    font-size: 15px;
  }
  .project1-pic {
    height: 290px;
  }
}

@media only screen and (max-width: 1289px) {
  
  .project-text {
    margin-top: 20px;
  }
}


@media only screen and (max-width: 545px) {
  
  .project-info {
    border: 1px solid gray;
    box-shadow: 5px 5px;
  }
}


@media only screen and (max-width: 430px) {
  
  .project-info {
    width: 90vw;
  }
  .contacts-form {
    margin-top: 40px;
  }
}



















@media only screen and (max-width: 1295px) {
  
  .project1-pic {
    float: none;
    display: block;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  main {
    display: block;
    margin-top: 20px;
    text-align: justify;
    padding: 10px;
  }
  .projectsList p {
    margin-left: 0px;
  }
  
  .projectsList h3 {
    margin-left: 0px;
  }
  
  .projectsList h4 {
    margin-left: 0px;
  }
  .btns {
    margin-left: 0px;
    text-align: center;
  }
    
}


@media only screen and (max-width: 491px) {
  
  .about-me {
    border: 1px solid gray;
    margin-top: 20px;
    box-shadow: 5px 5px;
    width: 100%;
  }
}


